.App {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
}

.buttons-div {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.buttons-div button {
  background-color: black;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
  border-style: none;
  flex: 100%;
  font-size: medium;
  cursor: pointer;
}

.buttons-div button:hover {
  background-color: darksalmon;
}

.buttons-div button a {
  text-decoration: none;
  color: white;
  font-size: medium;
  width: 100%;
  text-align: center;
}